<div class="main-container">
 <aside class="sidebar">
    <div class="sidebar-top">
      <h2>TECHSNEAKERS</h2>

      <div class="perfil">
        <img class="avatar" src="https://cdn-icons-png.flaticon.com/512/12225/12225881.png" alt="">
        <div class="perfil-info">
          <a href="" class="username">Perfil</a>
          <span class="role">Olá, Admin</span>
        </div>
      </div>
      <nav>
        <ul>
          <li routerLink="/gestaomarcas" class="active">Resumo</li>
          <li routerLink="/historico" >Histórico</li>
          <li routerLink="/estoque" >Estoque</li>
        </ul>
      </nav>
    </div>
  </aside>

  <div class="content">
    <header class="top-bar">
      <h1>Painel de Controle</h1>
    </header>

    <div class="stats-grid">
      <div class="stat-card">
        <p>Total vendido</p>
        <h3>R$ 14.850,00</h3>
      </div>
      <div class="stat-card">
        <p>Produtos vendidos</p>
        <h3>198 unidades</h3>
      </div>
      <div class="stat-card">
        <p>Marca Principal</p>
        <h3>Nike</h3>
      </div>
    </div>

    <main class="main-card">
      <h2>Tabela de vendas por marca</h2>
      <div class="vendas-container">
        <section class="table-section">
          <table>
            <thead>
              <tr>
                <th>Marca</th>
                <th>Unidades vendidas</th>
                <th>Receita</th>
              </tr>
            </thead>
            <tbody>
              <tr><td>Nike</td><td>55</td><td>R$ 4.125,03</td></tr>
              <tr><td>Adidas</td><td>48</td><td>R$ 3.814,15</td></tr>
              <tr><td>Puma</td><td>30</td><td>R$ 2.400,00</td></tr>
              <tr><td>Reebok</td><td>22</td><td>R$ 1.980,00</td></tr>
              <tr><td>Outros</td><td>43</td><td>R$ 2.505,00</td></tr>
            </tbody>
          </table>
        </section>

        <section class="chart-section">
          <div class="donut-chart"></div>
          <div class="legend">
            <div class="legend-item"><span class="dot" style="background: #a3b18a;"></span> Nike</div>
            <div class="legend-item"><span class="dot" style="background: #588157;"></span> Adidas</div>
            <div class="legend-item"><span class="dot" style="background: #3a5a40;"></span> Puma</div>
            <div class="legend-item"><span class="dot" style="background: #dad7cd;"></span> Reebok</div>
          </div>
        </section>
      </div>
    </main>
  </div>
</div>